@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin-gOyx1oxCKLHt_font-family: "Inter";
  --mixin-gOyx1oxCKLHt_font-size: 16px;
  --mixin-gOyx1oxCKLHt_font-weight: 400;
  --mixin-gOyx1oxCKLHt_font-style: normal;
  --mixin-gOyx1oxCKLHt_color: #535353;
  --mixin-gOyx1oxCKLHt_text-align: left;
  --mixin-gOyx1oxCKLHt_text-transform: none;
  --mixin-gOyx1oxCKLHt_line-height: 1.5;
  --mixin-gOyx1oxCKLHt_letter-spacing: normal;
  --mixin-gOyx1oxCKLHt_white-space: pre-wrap;
  --mixin-gOyx1oxCKLHt_user-select: text;
  --mixin-gOyx1oxCKLHt_text-decoration-line: none;
  --mixin-gOyx1oxCKLHt_text-overflow: clip;
  --mixin-s41SLv9s_a-a_color: #000000;
  --mixin-s41SLv9s_a-a_font-weight: 900;
  --mixin-s41SLv9s_a-a_font-size: 72px;
  --mixin-s41SLv9s_a-a_line-height: 1;
  --mixin-s41SLv9s_a-a_letter-spacing: -4px;
  --mixin-s41SLv9s_a-a_white-space: pre-wrap;
  --mixin-HasCqQY2e6qH_color: #000000;
  --mixin-HasCqQY2e6qH_font-size: 48px;
  --mixin-HasCqQY2e6qH_font-weight: 700;
  --mixin-HasCqQY2e6qH_letter-spacing: -1px;
  --mixin-HasCqQY2e6qH_line-height: 1.1;
  --mixin-HasCqQY2e6qH_white-space: pre-wrap;
  --mixin-OcbUXrFgCRuD_color: #0070f3;
  --mixin-OcbUXrFgCRuD_white-space: pre-wrap;
  --mixin-o_sOk4DI11ST_color: #000000;
  --mixin-o_sOk4DI11ST_font-size: 32px;
  --mixin-o_sOk4DI11ST_font-weight: 600;
  --mixin-o_sOk4DI11ST_letter-spacing: -0.8px;
  --mixin-o_sOk4DI11ST_line-height: 1.2;
  --mixin-o_sOk4DI11ST_white-space: pre-wrap;
  --mixin-XvcFQuUT2RdN_color: #000000;
  --mixin-XvcFQuUT2RdN_font-size: 24px;
  --mixin-XvcFQuUT2RdN_font-weight: 600;
  --mixin-XvcFQuUT2RdN_letter-spacing: -0.5px;
  --mixin-XvcFQuUT2RdN_line-height: 1.3;
  --mixin-XvcFQuUT2RdN_white-space: pre-wrap;
  --mixin-VRNMXykAFHB2_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-VRNMXykAFHB2_border-bottom-color: #dddddd;
  --mixin-VRNMXykAFHB2_border-bottom-style: solid;
  --mixin-VRNMXykAFHB2_border-bottom-width: 1px;
  --mixin-VRNMXykAFHB2_border-left-color: #dddddd;
  --mixin-VRNMXykAFHB2_border-left-style: solid;
  --mixin-VRNMXykAFHB2_border-left-width: 1px;
  --mixin-VRNMXykAFHB2_border-right-color: #dddddd;
  --mixin-VRNMXykAFHB2_border-right-style: solid;
  --mixin-VRNMXykAFHB2_border-right-width: 1px;
  --mixin-VRNMXykAFHB2_border-top-color: #dddddd;
  --mixin-VRNMXykAFHB2_border-top-style: solid;
  --mixin-VRNMXykAFHB2_border-top-width: 1px;
  --mixin-VRNMXykAFHB2_border-bottom-left-radius: 3px;
  --mixin-VRNMXykAFHB2_border-bottom-right-radius: 3px;
  --mixin-VRNMXykAFHB2_border-top-left-radius: 3px;
  --mixin-VRNMXykAFHB2_border-top-right-radius: 3px;
  --mixin-VRNMXykAFHB2_font-family: "Inconsolata";
  --mixin-VRNMXykAFHB2_padding-bottom: 1px;
  --mixin-VRNMXykAFHB2_padding-left: 4px;
  --mixin-VRNMXykAFHB2_padding-right: 4px;
  --mixin-VRNMXykAFHB2_padding-top: 1px;
  --mixin-VRNMXykAFHB2_white-space: pre-wrap;
  --mixin-GVNdVoQ4z7LD_border-left-color: #dddddd;
  --mixin-GVNdVoQ4z7LD_border-left-style: solid;
  --mixin-GVNdVoQ4z7LD_border-left-width: 3px;
  --mixin-GVNdVoQ4z7LD_color: #888888;
  --mixin-GVNdVoQ4z7LD_padding-left: 10px;
  --mixin-GVNdVoQ4z7LD_white-space: pre-wrap;
  --mixin-YcqfupToLM-4E_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-YcqfupToLM-4E_border-bottom-color: #dddddd;
  --mixin-YcqfupToLM-4E_border-bottom-style: solid;
  --mixin-YcqfupToLM-4E_border-bottom-width: 1px;
  --mixin-YcqfupToLM-4E_border-left-color: #dddddd;
  --mixin-YcqfupToLM-4E_border-left-style: solid;
  --mixin-YcqfupToLM-4E_border-left-width: 1px;
  --mixin-YcqfupToLM-4E_border-right-color: #dddddd;
  --mixin-YcqfupToLM-4E_border-right-style: solid;
  --mixin-YcqfupToLM-4E_border-right-width: 1px;
  --mixin-YcqfupToLM-4E_border-top-color: #dddddd;
  --mixin-YcqfupToLM-4E_border-top-style: solid;
  --mixin-YcqfupToLM-4E_border-top-width: 1px;
  --mixin-YcqfupToLM-4E_border-bottom-left-radius: 3px;
  --mixin-YcqfupToLM-4E_border-bottom-right-radius: 3px;
  --mixin-YcqfupToLM-4E_border-top-left-radius: 3px;
  --mixin-YcqfupToLM-4E_border-top-right-radius: 3px;
  --mixin-YcqfupToLM-4E_font-family: "Inconsolata";
  --mixin-YcqfupToLM-4E_padding-bottom: 3px;
  --mixin-YcqfupToLM-4E_padding-left: 6px;
  --mixin-YcqfupToLM-4E_padding-right: 6px;
  --mixin-YcqfupToLM-4E_padding-top: 3px;
  --mixin-YcqfupToLM-4E_white-space: pre-wrap;
  --mixin-D-aPe9oJ_r6ug_display: flex;
  --mixin-D-aPe9oJ_r6ug_flex-direction: column;
  --mixin-D-aPe9oJ_r6ug_align-items: stretch;
  --mixin-D-aPe9oJ_r6ug_justify-content: flex-start;
  --mixin-D-aPe9oJ_r6ug_list-style-position: outside;
  --mixin-D-aPe9oJ_r6ug_padding-left: 40px;
  --mixin-D-aPe9oJ_r6ug_position: relative;
  --mixin-D-aPe9oJ_r6ug_list-style-type: disc;
  --mixin-D-aPe9oJ_r6ug_white-space: pre-wrap;
  --mixin-ZlI4LGy2IEcku_display: flex;
  --mixin-ZlI4LGy2IEcku_flex-direction: column;
  --mixin-ZlI4LGy2IEcku_align-items: stretch;
  --mixin-ZlI4LGy2IEcku_justify-content: flex-start;
  --mixin-ZlI4LGy2IEcku_list-style-position: outside;
  --mixin-ZlI4LGy2IEcku_padding-left: 40px;
  --mixin-ZlI4LGy2IEcku_position: relative;
  --mixin-ZlI4LGy2IEcku_list-style-type: decimal;
  --mixin-ZlI4LGy2IEcku_white-space: pre-wrap;
  --mixin-fCExmX9Mcjo5g_color: #000000;
  --mixin-fCExmX9Mcjo5g_font-size: 20px;
  --mixin-fCExmX9Mcjo5g_font-weight: 600;
  --mixin-fCExmX9Mcjo5g_letter-spacing: -0.3px;
  --mixin-fCExmX9Mcjo5g_line-height: 1.5;
  --mixin-fCExmX9Mcjo5g_white-space: pre-wrap;
  --mixin-JnCKrPXABCj4G_color: #000000;
  --mixin-JnCKrPXABCj4G_font-size: 16px;
  --mixin-JnCKrPXABCj4G_font-weight: 600;
  --mixin-JnCKrPXABCj4G_line-height: 1.5;
  --mixin-JnCKrPXABCj4G_white-space: pre-wrap;
  --mixin-cyE8QTHeWKsiE_color: #3291ff;
  --mixin-cyE8QTHeWKsiE_white-space: pre-wrap;
  --mixin-IvJmeMz7zKrXn_white-space: pre-wrap;
  --mixin-IL-YKVMHRPykw_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-gOyx1oxCKLHt_font-family);
  font-size: var(--mixin-gOyx1oxCKLHt_font-size);
  font-weight: var(--mixin-gOyx1oxCKLHt_font-weight);
  font-style: var(--mixin-gOyx1oxCKLHt_font-style);
  color: var(--mixin-gOyx1oxCKLHt_color);
  text-align: var(--mixin-gOyx1oxCKLHt_text-align);
  text-transform: var(--mixin-gOyx1oxCKLHt_text-transform);
  line-height: var(--mixin-gOyx1oxCKLHt_line-height);
  letter-spacing: var(--mixin-gOyx1oxCKLHt_letter-spacing);
  white-space: var(--mixin-gOyx1oxCKLHt_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset .__wab_expr_html_text h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-s41SLv9s_a-a_color);
  font-weight: var(--mixin-s41SLv9s_a-a_font-weight);
  font-size: var(--mixin-s41SLv9s_a-a_font-size);
  line-height: var(--mixin-s41SLv9s_a-a_line-height);
  letter-spacing: var(--mixin-s41SLv9s_a-a_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset .__wab_expr_html_text h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-HasCqQY2e6qH_color);
  font-size: var(--mixin-HasCqQY2e6qH_font-size);
  font-weight: var(--mixin-HasCqQY2e6qH_font-weight);
  letter-spacing: var(--mixin-HasCqQY2e6qH_letter-spacing);
  line-height: var(--mixin-HasCqQY2e6qH_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset .__wab_expr_html_text a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-OcbUXrFgCRuD_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset .__wab_expr_html_text h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-o_sOk4DI11ST_color);
  font-size: var(--mixin-o_sOk4DI11ST_font-size);
  font-weight: var(--mixin-o_sOk4DI11ST_font-weight);
  letter-spacing: var(--mixin-o_sOk4DI11ST_letter-spacing);
  line-height: var(--mixin-o_sOk4DI11ST_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset .__wab_expr_html_text h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-XvcFQuUT2RdN_color);
  font-size: var(--mixin-XvcFQuUT2RdN_font-size);
  font-weight: var(--mixin-XvcFQuUT2RdN_font-weight);
  letter-spacing: var(--mixin-XvcFQuUT2RdN_letter-spacing);
  line-height: var(--mixin-XvcFQuUT2RdN_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset .__wab_expr_html_text code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-VRNMXykAFHB2_background);
  font-family: var(--mixin-VRNMXykAFHB2_font-family);
  border-radius: var(--mixin-VRNMXykAFHB2_border-top-left-radius)
    var(--mixin-VRNMXykAFHB2_border-top-right-radius)
    var(--mixin-VRNMXykAFHB2_border-bottom-right-radius)
    var(--mixin-VRNMXykAFHB2_border-bottom-left-radius);
  padding: var(--mixin-VRNMXykAFHB2_padding-top)
    var(--mixin-VRNMXykAFHB2_padding-right)
    var(--mixin-VRNMXykAFHB2_padding-bottom)
    var(--mixin-VRNMXykAFHB2_padding-left);
  border-top: var(--mixin-VRNMXykAFHB2_border-top-width)
    var(--mixin-VRNMXykAFHB2_border-top-style)
    var(--mixin-VRNMXykAFHB2_border-top-color);
  border-right: var(--mixin-VRNMXykAFHB2_border-right-width)
    var(--mixin-VRNMXykAFHB2_border-right-style)
    var(--mixin-VRNMXykAFHB2_border-right-color);
  border-bottom: var(--mixin-VRNMXykAFHB2_border-bottom-width)
    var(--mixin-VRNMXykAFHB2_border-bottom-style)
    var(--mixin-VRNMXykAFHB2_border-bottom-color);
  border-left: var(--mixin-VRNMXykAFHB2_border-left-width)
    var(--mixin-VRNMXykAFHB2_border-left-style)
    var(--mixin-VRNMXykAFHB2_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset .__wab_expr_html_text blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-GVNdVoQ4z7LD_color);
  padding-left: var(--mixin-GVNdVoQ4z7LD_padding-left);
  border-left: var(--mixin-GVNdVoQ4z7LD_border-left-width)
    var(--mixin-GVNdVoQ4z7LD_border-left-style)
    var(--mixin-GVNdVoQ4z7LD_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset .__wab_expr_html_text pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-YcqfupToLM-4E_background);
  font-family: var(--mixin-YcqfupToLM-4E_font-family);
  border-radius: var(--mixin-YcqfupToLM-4E_border-top-left-radius)
    var(--mixin-YcqfupToLM-4E_border-top-right-radius)
    var(--mixin-YcqfupToLM-4E_border-bottom-right-radius)
    var(--mixin-YcqfupToLM-4E_border-bottom-left-radius);
  padding: var(--mixin-YcqfupToLM-4E_padding-top)
    var(--mixin-YcqfupToLM-4E_padding-right)
    var(--mixin-YcqfupToLM-4E_padding-bottom)
    var(--mixin-YcqfupToLM-4E_padding-left);
  border-top: var(--mixin-YcqfupToLM-4E_border-top-width)
    var(--mixin-YcqfupToLM-4E_border-top-style)
    var(--mixin-YcqfupToLM-4E_border-top-color);
  border-right: var(--mixin-YcqfupToLM-4E_border-right-width)
    var(--mixin-YcqfupToLM-4E_border-right-style)
    var(--mixin-YcqfupToLM-4E_border-right-color);
  border-bottom: var(--mixin-YcqfupToLM-4E_border-bottom-width)
    var(--mixin-YcqfupToLM-4E_border-bottom-style)
    var(--mixin-YcqfupToLM-4E_border-bottom-color);
  border-left: var(--mixin-YcqfupToLM-4E_border-left-width)
    var(--mixin-YcqfupToLM-4E_border-left-style)
    var(--mixin-YcqfupToLM-4E_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset .__wab_expr_html_text ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-D-aPe9oJ_r6ug_display);
  flex-direction: var(--mixin-D-aPe9oJ_r6ug_flex-direction);
  align-items: var(--mixin-D-aPe9oJ_r6ug_align-items);
  justify-content: var(--mixin-D-aPe9oJ_r6ug_justify-content);
  list-style-position: var(--mixin-D-aPe9oJ_r6ug_list-style-position);
  padding-left: var(--mixin-D-aPe9oJ_r6ug_padding-left);
  position: var(--mixin-D-aPe9oJ_r6ug_position);
  list-style-type: var(--mixin-D-aPe9oJ_r6ug_list-style-type);
  flex-column-gap: var(--mixin-D-aPe9oJ_r6ug_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset .__wab_expr_html_text ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-ZlI4LGy2IEcku_display);
  flex-direction: var(--mixin-ZlI4LGy2IEcku_flex-direction);
  align-items: var(--mixin-ZlI4LGy2IEcku_align-items);
  justify-content: var(--mixin-ZlI4LGy2IEcku_justify-content);
  list-style-position: var(--mixin-ZlI4LGy2IEcku_list-style-position);
  padding-left: var(--mixin-ZlI4LGy2IEcku_padding-left);
  position: var(--mixin-ZlI4LGy2IEcku_position);
  list-style-type: var(--mixin-ZlI4LGy2IEcku_list-style-type);
  flex-column-gap: var(--mixin-ZlI4LGy2IEcku_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset .__wab_expr_html_text h5),
:where(.root_reset.plasmic_default__h5) {
  color: var(--mixin-fCExmX9Mcjo5g_color);
  font-size: var(--mixin-fCExmX9Mcjo5g_font-size);
  font-weight: var(--mixin-fCExmX9Mcjo5g_font-weight);
  letter-spacing: var(--mixin-fCExmX9Mcjo5g_letter-spacing);
  line-height: var(--mixin-fCExmX9Mcjo5g_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset .__wab_expr_html_text h6),
:where(.root_reset.plasmic_default__h6) {
  color: var(--mixin-JnCKrPXABCj4G_color);
  font-size: var(--mixin-JnCKrPXABCj4G_font-size);
  font-weight: var(--mixin-JnCKrPXABCj4G_font-weight);
  line-height: var(--mixin-JnCKrPXABCj4G_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset .__wab_expr_html_text a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-cyE8QTHeWKsiE_color);
}

:where(.root_reset .plasmic_default__li),
:where(.root_reset .li),
:where(.root_reset .__wab_expr_html_text li),
:where(.root_reset.plasmic_default__li) {
}

:where(.root_reset .plasmic_default__p),
:where(.root_reset .p),
:where(.root_reset .__wab_expr_html_text p),
:where(.root_reset.plasmic_default__p) {
}
